.game_block_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.game_block {
    min-width: 400px;
    padding: 30px;
    border: 2px solid grey;
    border-radius: 4px;
    background-color: rgb(249, 249, 249);
}

.progress_bar{
    height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;
}

.progress_bar_inner {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
}
