.navigation_wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.app_title {
  padding: 50px;
}

.header_text {
  font-size: 40px;
  text-shadow: 0 0 7px #fff, 0 0 10px #931515, 0 0 21px #fff, 0 0 42px #1f374e,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #1da678;
}
